
.contact_info{
    .contact_form_section{
        .form_contact{
            padding:4rem;
            box-shadow: 0px 0px 31px -9px rgba(128,128,128,0.75);
            label.form-label {
                font-size: 1.4rem;
                color: black;
                font-weight: 600;
            }
            input,select{
                padding: 1.1rem;
                font-size: 1.4rem;
            }
            textarea{
                font-size: 1.4rem;
            }
            .sumbit_message{
                @include btn(1.2rem,1.5rem,2.5rem,$main-color,white);
                font-weight: 600;
                border:none;
            }
        }
    }
    .social_market{
        margin-top:6rem;
        @include case_and_contact_section();
    }
}

.overview{
    width: 100%;
    margin-top:6rem;
    margin-bottom: 6rem;
    h2 {
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
    p {
        font-size: 1.3rem;
        word-spacing: 1px;
        line-height: 1.9;
        color:gray;
    }
    .overview-list-wrapper{
        margin-top: 2rem;
        h4{
            font-weight: 600;
            text-transform: capitalize;
        }
        .about-list{
            @include mylist(gray,$main-color)
        }
      

    }
}